<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Farmacia</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    <body>
        <!-- Header -->
        <header th:replace="~{layout/plantilla :: header}"/>

        <!-- Modales (añadido como fragmento) -->
        <div th:replace="~{layout/plantilla :: modales}"/>

        <!-- Footer -->
        <footer th:replace="~{layout/plantilla :: footer}"/>

        <!-- Bootstrap JS (after content) -->
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
